datamapper_lab/target/classes/datamapper_lab.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:data-mapper="http://www.mulesoft.org/schema/mule/ee/data-mapper" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.5.2"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/data-mapper http://www.mulesoft.org/schema/mule/ee/data-mapper/current/mule-data-mapper.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd">
    <data-mapper:config name="CSV_To_XML" transformationGraphPath="csv_to_xml_1.grf" doc:name="CSV_To_XML"/>
    <file:connector name="Input" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
    <data-mapper:config name="XML_To_MS_Excel" transformationGraphPath="xml_to_ms_excel.grf" doc:name="XML_To_MS_Excel"/>
  <!--   <file:connector name="File" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/> -->
    <catch-exception-strategy name="CatchExceptionStrategy">
        <logger message="In Exception!" level="INFO" doc:name="Logger"/>
    </catch-exception-strategy>
    <flow name="datamapper_labFlow" doc:name="datamapper_labFlow">
        <file:inbound-endpoint path="C:\Users\861322\Desktop\MULE\Input" connector-ref="Input" responseTimeout="10000" doc:name="File"/>
        <logger message="Message is #[payload] and ran at #[server.dateTime.format('dd/MM/yy HH:mm:ss')]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="CSV_To_XML" doc:name="CSV To XML"/>
   <!--      <byte-array-to-string-transformer doc:name="Byte Array to String"/> -->
        <logger message="hubhjhvfdbhghi #[message.payload]" level="INFO" doc:name="Logger"/>
        <data-mapper:transform config-ref="XML_To_MS_Excel" doc:name="XML To MS Excel"/>
        <logger message="After to string conversion #[payload]" level="INFO" doc:name="Logger"/>
        <file:outbound-endpoint path="C:\Users\861322\Desktop\MULE\Output" outputPattern="Excel_Output.xls" responseTimeout="10000" doc:name="File"/>
        <exception-strategy ref="CatchExceptionStrategy" doc:name="Reference Exception Strategy"/>
        </flow>
</mule>
